
<h1> <%=@social_tag.name%> stories and Trends </h1>

<div class="trending">
	<div class="activity">
		Activity
		<div>
			This week
			<%=@social_tag.activity_this_week %> /
			<%=@social_tag.activity_last_week%>
			
			
		</div>
		
		<div>
			All time
			
		</div>
	</div>
	
	<div class="cheers">
		Cheers
	</div>
	
	<div class="jeers">
		Jeers
	</div>	

</div>

<% @stories.each do |story| %>
  <div class="story">
		
		<div class="details">

			<%= render :partial => "stories/story", :locals => {:story=>story ,:dock=>false}%>

			
			<%= render :partial => "stories/social_tag_cloud", :locals => {:story_tags=>story.story_tags}%>
			
			<%= render :partial => "stories/opinion", :locals => {:story=>story ,:dock=>false}%>
			<div class="scorecastr">Pick the Score</div>
			
		</div>
		

		
	</div>			
		
 
<% end %>

<% content_for :head do %>
	<%= Seer::init_visualization -%>
<% end %>