
<h1> <%=@social_tag.name%> stories and Trends </h1>

<div class="trending">
	<div class="activity">
		Activity<br/>
		<div class="score this_week">
			This Week
			<%=@social_tag.activity_this_week%> 
			
			<span> Last week
				<%=@social_tag.activity_last_week%>
			</span>
		</div>
		
		<div class="score all_time">
			All time
			(<%=@social_tag.total_activity%>)
		</div>
	</div>
	
	<div class="cheers">
		Cheers<br/>
		<div class="score this_week">
			This Week
			<%=@social_tag.cheers_this_week%> 
			
			<span> Last week
				<%=@social_tag.cheers_last_week%>
			</span>
		</div>
		
		<div class="score all_time">
			All time
			(<%=@social_tag.total_cheers%>)
		</div>
	</div>
	
	<div class="jeers">
		Jeers<br/>
		<div class="score this_week">
			This Week
			<%=@social_tag.jeers_this_week%> 
			
			<span> Last week
				<%=@social_tag.jeers_last_week%>
			</span>
		</div>
		
		<div class="score all_time">
			All time
			(<%=@social_tag.total_jeers%>)
		</div>
	</div>	

</div>

<% @stories.each do |story| %>
  <div class="story">
		
		<div class="details">

			<%= render :partial => "stories/story", :locals => {:story=>story ,:dock=>false}%>

			
			<%= render :partial => "stories/social_tag_cloud", :locals => {:story_tags=>story.story_tags}%>
			
			<%= render :partial => "stories/opinion", :locals => {:story=>story ,:dock=>false}%>
			<div class="scorecastr">Pick the Score</div>
			
		</div>
		

		
	</div>			
		
 
<% end %>

<% content_for :head do %>
	<%= Seer::init_visualization -%>
<% end %>