<div class="social_opinion">
	<p/>Opinions (<%=story.comments.count%>) : <% if story.comments.count > 0 %>
		<%=story.comments.last.opinion%>
		<% if dock = true %>
			
			| <%=link_to "Comments", opinion_story_path(story),:target=>"_top"%> 
			</p>
		<% else %>
			</p>
			<%=link_to "Comments", opinion_story_path(story)%> 
		<% end %>
		
		
	<% else%>
		
		<%=link_to "What do you think ?", opinion_story_path(story)%> 	</p>
		
	<% end %>
	 
	</div>