<div class="story_score"><%=story.total_cheers%>/<%=story.total_jeers%></div>
<div class="odds">
		team a v team b
		<br/> some odds
</div><% if dock == false%>
<h2><a href="<%=story_path(story)%>" target="_blank"><%= story.title %></a></h2>
<% else %>
<h2><%= story.title %></h2>
<% end %>
<%=time_ago_in_words(story.published_at.to_s)%> ago


	


<% if dock == false%>
<p><%= story.summary %></p>
<% end %>

