<h3><%=@story.title%></h3>

<div class="social_tags">
	
	<% @story.story_tags.each do |tag| %>
		<div class="tag"> <%=link_to "[ - ]", :controller=> "/stories",:action=> "vote",:id=>tag.id,:choice=> "down"   %> <%=tag.social_tag.name%>  <%=tag.votes%> / <%=tag.score%>   <%=link_to "[ + ]" , :controller=> "stories",:action=> "vote",:id=>tag.id,:choice=> "up" %> </div>
		
	<% end %>
	<br/>
</div>	