



<% @stories.each do |story| %>
  <div class="story">
		
		<div class="details">

			
			<h2><a href="/stories/<%=story.id%>" target="_blank"><%= story.title %></a></h2>
			<div class="odds">
					team a v team b
					<br/> some odds
			</div>
			<p><%= story.summary %></p>
    		<div class="social_tags">
				
    			<% story.story_tags.each do |tag| %>
					<div class="tag"> <%=link_to "[ - ]", :controller=> "/stories",:action=> "vote",:id=>tag.id,:choice=> "down"   %> <%=tag.social_tag.name%>  <%=tag.votes%> / <%=tag.score%>   <%=link_to "[ + ]" , :controller=> "stories",:action=> "vote",:id=>tag.id,:choice=> "up" %> </div>
					
				<% end %>
    			<br/>
			</div>
			<div class="social_opinion">
				<p/>Opinions (<%=story.comments.count%>) : <% if story.comments.count > 0 %>
					<%=story.comments.last.opinion%>
					</p>
					<%=link_to "Have your Say", opinion_story_path(story)%> | <%=link_to "View All",  opinion_view_story_path(story)%>
					
				<% else%>
				
					<%=link_to "Be the first to have an Opinion", opinion_story_path(story)%> 	</p>
				<% end %>
				 
				</div>
			<div class="scorecastr">Pick the Score</div>
			
		</div>
		

		
				
		
  </div>
<% end %>


<br />


<% content_for :sidebar do %>
	<h4>Popular Stories</h4>
		<% @popular_stories.each do |popular_story|%>
			<li><%=popular_story.story.title%></li>
		<% end %>
	
	<ul>
		
		
	</ul>
	
	<h4>Treding Topics</h4>
		<% @popular_tags.each do |popular_tag|%>
			<li><%=popular_tag.social_tag.name%></li>
		<% end %>
	<ul>
		
		
	</ul>
	
		
<% end %>
