
<% if @sport %>
<h1>Latest <%=@sport.name.capitalize%> stories </h1>
<% else %>
<h1>Latest stories from all sports</h1>
<% end %>

<% @stories.each do |story| %>
  <div class="story">
		
		<div class="details">

			<%= render :partial => "story", :locals => {:story=>story ,:dock=>false}%>

			
			<%= render :partial => "social_tag_cloud", :locals => {:story_tags=>story.story_tags}%>
			
			<%= render :partial => "opinion", :locals => {:story=>story ,:dock=>false}%>
			<div class="scorecastr">Pick the Score</div>
			
		</div>
		

		
	</div>			
		
 
<% end %>


<br />


<% content_for :sidebar do %>
	<h4>Popular Stories</h4>
		<% @popular_stories.each do |popular_story|%>
			<li><%=link_to popular_story.story.title, story_path(popular_story.story),:target=> "new"%></li>
		<% end %>
	
	<ul>
		
		
	</ul>
	
	<h4>Treding Topics</h4>
		<% @popular_tags.each do |popular_tag|%>
			<li><%=link_to popular_tag.social_tag.name, social_tag_path(popular_tag.social_tag)%></li>
		<% end %>
	<ul>
		
		
	</ul>
	
		
<% end %>
