<div class="story">
<%= render :partial => "story", :locals => {:story=>@story ,:dock=>false}%>


<%= render :partial => "social_tag_cloud", :locals => {:story_tags=>@story.story_tags}%>

<h4>Have your Say</h4>
<% form_for ( @story.comments.new, :url => { :action=>"opinion_save" }) do |f| %>
	<%=f.text_area("opinion",  :class => "opinion") %>
	 <%= submit_tag 'Submit' %>
<% end %>

<h2>Other Opinions:</h2>
	<% @story.comments.each do |opinion| %>
		<p><%=opinion.opinion%></p>
	<% end %>
	
</div>	